<div class="text-right">
<%= search_form_for @q do |f| %>
  <!--name_contは、あいまい検索を指定-->
  <%= f.text_field :text_cont, placeholder: '検索ワード' %>
  <%= f.submit "検索", class:"btn btn-primary" %>
<% end %>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <br>
      <div class="text-right">
        <%= link_to "新規登録", new_question_path, class:"btn btn-primary" %>
      </div>
      <h4>質問一覧</h4>
      <% @questions.each do |question| %>
      <div class="d-flex flex-column bd-highlight">
        <div class="p-3 bd-highlight">
          <%= link_to question.text, question_path(question) %>
        </div>
      </div>
      <% end %>
      <%= paginate @questions %>
    </div>
  </div>
</div>
