<h4>質問詳細</h4>
<p><%= @question.text %></p>
<ul style="list-style-type: none">
<%= form_with(model: [@question, @answer], local: true) do |f| %>
  <% @question.question_selects.each do |question_select| %>
    <li><label><%= f.radio_button :question_select_id, question_select.id %><%= question_select.selected %></label></li>

    <%= f.hidden_field :end_user_id, value: current_end_user.id %>
  <% end %>
  <%= f.submit "回答", class: "btn btn-primary" %>
<% end %>
</ul>


<% if @question.favorited_by?(current_end_user) %>
    <p>
      <%= link_to question_favorites_path(@question), method: :delete do %>
        ♥<%= @question.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to question_favorites_path(@question), method: :post do %>
        ♡<%= @question.favorites.count %> いいね
      <% end %>
    </p>
<% end %>

